<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    <div class="main-content">
      {{>header}}
      
      <img class="portrait" src="/img/Foto.jpg" alt="Foto Profil">

      <p>
        Halo! Saya <strong>Dolly Anggara</strong>, mahasiswa Departemen Elektronika.
        Aplikasi ini dibuat untuk membantu pengguna memperoleh informasi cuaca terkini
        berdasarkan lokasi yang dimasukkan.
      </p>

      <p>
        Aplikasi ini dibangun menggunakan <b>Node.js</b>, <b>Express</b>, dan
        layanan API cuaca. Tujuan utama proyek ini adalah untuk melatih kemampuan
        integrasi antara backend dan layanan eksternal berbasis web.
      </p>
    </div>

    {{>footer}}
  </body>
</html>
