<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="/img/Foto.jpg" alt="Foto Profil">
    </div>
    {{>footer}}
  </body>
</html>
